@media screen and (min-width:780px) {
    .container {
        display: flex;
    }
}

@font-face {
    font-family: Tilt Warp;
    src: url(TiltWarp.ttf);
}

body {
    background-color: chocolate;
}

.register2 {
    font-family: Tilt Warp;
    font-size: 20px;
}

a {
    color: black;
    font-weight: bold;
}